{
    "env": {
        "browser": true,
        "node": true
    },
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "settings": {
        "react": {
            "version": "detect"
        }
    },
    "extends": [
        "plugin:@typescript-eslint/recommended",
        "plugin:react/recommended",
        "prettier-standard"
    ],
    "plugins": [
        "@typescript-eslint",
        "prettier",
        "react",
        "simple-import-sort",
        "unused-imports"
    ],
    "rules": {
        "@typescript-eslint/no-unused-vars": "off",
        "no-use-before-define": "off",
        "no-useless-constructor": "off",
        "no-unused-vars": "off",
        "no-new": "off",
        "no-void": "off",
        "unused-imports/no-unused-imports": "error",
        "unused-imports/no-unused-vars": [
        "warn",
        {
            "vars": "all",
            "varsIgnorePattern": "^_",
            "args": "after-used",
            "argsIgnorePattern": "^_"
        }
        ],
        "react/react-in-jsx-scope": "off",
        "prettier/prettier": [
            "error",
            {
                "endOfLine": "auto",
                "printWidth": 100,
                "semi": true,
                "singleQuote": true,
                "trailingComma": "es5"
            }
        ],
        "simple-import-sort/exports": "error",
        "simple-import-sort/imports": [
            "error",
            {
                "groups": [
                    ["^\\w"],
                    ["^\\u0000"],
                    ["^\\.\\.(?!/?$)", "^\\.\\./?$"],
                    ["^\\./(?=.*/)(?!/?$)", "^\\.(?!/?$)", "^\\./?$"]
                ]
            }
        ],
        "import/no-anonymous-default-export": [
            "error",
            {
                "allowArrowFunction": true,
                "allowAnonymousFunction": true
            }
        ]
    },
    "overrides": [
        {
            "files": ["**/*.test.ts", "**/*.test.tsx", "**/*.test.js", "**/*.test.jsx"],
            "globals": {
                "describe": "readonly",
                "it": "readonly",
                "expect": "readonly",
                "beforeEach": "readonly",
                "afterEach": "readonly",
                "beforeAll": "readonly",
                "afterAll": "readonly"
            }
        }
    ]
}
