openapi: 3.0.0
info:
  title: PGA Pool API
  version: 1.0.0
  description: The API for PGA Pool
  contact:
    name: Drew Kimberly
    url: 'https://github.com/Drew-Kimberly/pga-pool'
servers:
  - url: 'https://api.pga-pool.drewk.dev'
    description: Production URL
  - url: 'http://localhost:3000'
    description: Local Dev URL
tags:
  - name: Pools
  - name: Pool Users
  - name: Pool Tournaments
  - name: Pool Tournament Field
  - name: Pool Tournament Players
  - name: Pool Tournament Users
  - name: PGA Players
  - name: PGA Tournaments
  - name: PGA Tournament Field
  - name: PGA Tournament Players
paths:
  /pools:
    get:
      summary: Lists Pools
      description: Lists Pools
      operationId: listPools
      parameters:
        - $ref: '#/components/parameters/LimitOffsetPaginationParam'
        - $ref: '#/components/parameters/PoolFilter'
      responses:
        '200':
          $ref: '#/components/responses/ListPoolsResponse'
      tags:
        - Pools
  /pools/{poolId}:
    parameters:
      - $ref: '#/components/parameters/PoolId'
    get:
      summary: Fetches a pool by ID
      description: Fetches a pool by ID
      operationId: getPool
      responses:
        '200':
          $ref: '#/components/responses/PoolResponse'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Pools
  /pools/{poolId}/tournaments:
    parameters:
      - $ref: '#/components/parameters/PoolId'
    get:
      summary: Lists pool tournaments
      description: Returns all pool tournaments for a pool
      operationId: listPoolTournaments
      parameters:
        - $ref: '#/components/parameters/LimitOffsetPaginationParam'
        - $ref: '#/components/parameters/PgaTournamentFilter'
      responses:
        '200':
          $ref: '#/components/responses/PoolTournamentsResponse'
      tags:
        - Pool Tournaments
  /pools/{poolId}/tournaments/{poolTournamentId}:
    parameters:
      - $ref: '#/components/parameters/PoolId'
      - $ref: '#/components/parameters/PoolTournamentId'
    get:
      summary: Fetches a pool tournament by ID
      description: Fetches a pool tournament by ID
      operationId: getPoolTournament
      responses:
        '200':
          $ref: '#/components/responses/PoolTournamentResponse'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Pool Tournaments
  /pools/{poolId}/tournaments/{poolTournamentId}/field:
    parameters:
      - $ref: '#/components/parameters/PoolId'
      - $ref: '#/components/parameters/PoolTournamentId'
    get:
      summary: Fetches the player field for a given pool tournament
      description: Fetches the tiered player field for a given pool tournament
      operationId: getPoolTournamentField
      responses:
        '200':
          $ref: '#/components/responses/PoolTournamentFieldResponse'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Pool Tournament Field
  /pools/{poolId}/tournaments/{poolTournamentId}/players:
    parameters:
      - $ref: '#/components/parameters/PoolId'
      - $ref: '#/components/parameters/PoolTournamentId'
    get:
      summary: Lists players for a given pool tournament
      description: Lists players for a given pool tournament
      operationId: listPoolTournamentPlayers
      parameters:
        - $ref: '#/components/parameters/LimitOffsetPaginationParam'
        - $ref: '#/components/parameters/PoolTournamentPlayerFilter'
      responses:
        '200':
          $ref: '#/components/responses/ListPoolTournamentPlayersResponse'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Pool Tournament Players
  /pools/{poolId}/tournaments/{poolTournamentId}/users:
    parameters:
      - $ref: '#/components/parameters/PoolId'
      - $ref: '#/components/parameters/PoolTournamentId'
    get:
      summary: Lists users for a given pool tournament
      description: Lists users for a given pool tournament
      operationId: listPoolTournamentUsers
      parameters:
        - $ref: '#/components/parameters/LimitOffsetPaginationParam'
      responses:
        '200':
          $ref: '#/components/responses/ListPoolTournamentUsersResponse'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Pool Tournament Users
  /pools/{poolId}/users:
    parameters:
      - $ref: '#/components/parameters/PoolId'
    get:
      summary: Lists users for a given pool
      description: Lists users for a given pool
      operationId: listPoolUsers
      parameters:
        - $ref: '#/components/parameters/LimitOffsetPaginationParam'
        - $ref: '#/components/parameters/PoolUserFilter'
      responses:
        '200':
          $ref: '#/components/responses/ListPoolUsersResponse'
      tags:
        - Pool Users
  /pga-players:
    get:
      summary: Lists PGA Players
      description: Lists PGA Players. Returns only active players by default.
      operationId: listPgaPlayers
      parameters:
        - $ref: '#/components/parameters/LimitOffsetPaginationParam'
        - $ref: '#/components/parameters/PgaPlayerFilter'
      responses:
        '200':
          $ref: '#/components/responses/ListPgaPlayersResponse'
      tags:
        - PGA Players
  /pga-tournaments:
    get:
      summary: Lists PGA Tournaments
      description: Lists PGA Tournaments
      operationId: listPgaTournaments
      parameters:
        - $ref: '#/components/parameters/LimitOffsetPaginationParam'
        - $ref: '#/components/parameters/PgaTournamentFilter'
      responses:
        '200':
          $ref: '#/components/responses/ListPgaTournamentsResponse'
      tags:
        - PGA Tournaments
  /pga-tournaments/weekly-field:
    get:
      summary: Fetches the player field for the current week's tournament
      description: |
        Returns the tournament field for the current week (Sunday 2AM EST to Sunday 2AM EST).
        Returns 404 if no tournament is scheduled this week.
        Returns 200 with player_tiers: null if tournament exists but field data is not yet available.
      operationId: getWeeklyField
      responses:
        '200':
          $ref: '#/components/responses/WeeklyPgaTournamentFieldResponse'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - PGA Tournaments
        - PGA Tournament Field
  /pga-tournaments/{pgaTournamentId}/field:
    parameters:
      - $ref: '#/components/parameters/PgaTournamentId'
    get:
      summary: Fetches the player field for a given PGA Tournament
      description: Fetches the tiered player field for a given PGA Tournament
      operationId: getField
      responses:
        '200':
          $ref: '#/components/responses/PgaTournamentFieldResponse'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - PGA Tournament Field
  /pga-tournaments/{pgaTournamentId}/players:
    parameters:
      - $ref: '#/components/parameters/PgaTournamentId'
    get:
      summary: Lists players for a given PGA Tournament
      description: Lists players for a given PGA Tournament
      operationId: listPgaTournamentPlayers
      parameters:
        - $ref: '#/components/parameters/LimitOffsetPaginationParam'
      responses:
        '200':
          $ref: '#/components/responses/ListPgaTournamentPlayersResponse'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - PGA Tournament Players
  /pga-tournament-players/{pgaTournamentPlayerId}/rounds:
    parameters:
      - $ref: '#/components/parameters/PgaTournamentPlayerId'
    get:
      summary: Gets round score summaries for a PGA tournament player
      description: Returns per-round scoring summaries derived from hole-by-hole data
      operationId: getPgaTournamentPlayerRounds
      responses:
        '200':
          $ref: '#/components/responses/RoundSummariesResponse'
      tags:
        - PGA Tournament Players
  /pga-tournament-players/{pgaTournamentPlayerId}/scorecard:
    parameters:
      - $ref: '#/components/parameters/PgaTournamentPlayerId'
    get:
      summary: Gets the scorecard for a PGA tournament player for a specific round
      description: Returns hole-by-hole scorecard data for a given round
      operationId: getPgaTournamentPlayerScorecard
      parameters:
        - name: round
          in: query
          required: true
          description: The round number (1-4)
          schema:
            type: integer
            minimum: 1
            maximum: 4
      responses:
        '200':
          $ref: '#/components/responses/ScorecardResponse'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - PGA Tournament Players
components:
  responses:
    ListPoolsResponse:
      description: Response containing paginated collection of Pools
      content:
        application/json:
          schema:
            type: object
            additionalProperties: false
            properties:
              meta:
                $ref: '#/components/schemas/LimitOffsetResponseMeta'
              data:
                type: array
                items:
                  $ref: '#/components/schemas/Pool'
            required:
              - meta
              - data
    PoolResponse:
      description: Response containing a Pool
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Pool'
    PoolTournamentFieldResponse:
      description: Response containing pool tournament field data
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/PoolTournamentField'
    ListPoolTournamentUsersResponse:
      description: Response containing paginated collection of Pool Tournament Users
      content:
        application/json:
          schema:
            type: object
            additionalProperties: false
            properties:
              meta:
                $ref: '#/components/schemas/LimitOffsetResponseMeta'
              data:
                type: array
                items:
                  $ref: '#/components/schemas/PoolTournamentUser'
            required:
              - meta
              - data
    ListPoolUsersResponse:
      description: Response containing paginated collection of Pool Users
      content:
        application/json:
          schema:
            type: object
            additionalProperties: false
            properties:
              meta:
                $ref: '#/components/schemas/LimitOffsetResponseMeta'
              data:
                type: array
                items:
                  $ref: '#/components/schemas/PoolUser'
            required:
              - meta
              - data
    ListPoolTournamentPlayersResponse:
      description: Response containing paginated collection of Pool Tournament Players
      content:
        application/json:
          schema:
            type: object
            additionalProperties: false
            properties:
              meta:
                $ref: '#/components/schemas/LimitOffsetResponseMeta'
              data:
                type: array
                items:
                  $ref: '#/components/schemas/PoolTournamentPlayer'
            required:
              - meta
              - data
    ListPgaPlayersResponse:
      description: Response containing paginated collection of PGA Players
      content:
        application/json:
          schema:
            type: object
            additionalProperties: false
            properties:
              meta:
                $ref: '#/components/schemas/LimitOffsetResponseMeta'
              data:
                type: array
                items:
                  $ref: '#/components/schemas/PgaPlayer'
            required:
              - meta
              - data
    ListPgaTournamentPlayersResponse:
      description: Response containing paginated collection of PGA Tournament Players
      content:
        application/json:
          schema:
            type: object
            additionalProperties: false
            properties:
              meta:
                $ref: '#/components/schemas/LimitOffsetResponseMeta'
              data:
                type: array
                items:
                  $ref: '#/components/schemas/PgaTournamentPlayer'
            required:
              - meta
              - data
    ListPgaTournamentsResponse:
      description: Response containing paginated collection of PGA Tournaments
      content:
        application/json:
          schema:
            type: object
            additionalProperties: false
            properties:
              meta:
                $ref: '#/components/schemas/LimitOffsetResponseMeta'
              data:
                type: array
                items:
                  $ref: '#/components/schemas/PgaTournament'
            required:
              - meta
              - data
    PgaTournamentFieldResponse:
      description: Response containing the PGA Tournament field, including tiers
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/PgaTournamentField'
    WeeklyPgaTournamentFieldResponse:
      description: Response containing the weekly PGA Tournament field
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/WeeklyPgaTournamentField'
    PoolTournamentsResponse:
      description: Response containing a collection of pool tournaments
      content:
        application/json:
          schema:
            type: object
            additionalProperties: false
            properties:
              data:
                type: array
                items:
                  $ref: '#/components/schemas/PoolTournament'
            required:
              - data
    PoolTournamentResponse:
      description: Response containing pool tournament data
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/PoolTournament'
    RoundSummariesResponse:
      description: Response containing round score summaries for a PGA tournament player
      content:
        application/json:
          schema:
            type: array
            items:
              $ref: '#/components/schemas/RoundSummary'
    ScorecardResponse:
      description: Response containing a scorecard for a specific round
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Scorecard'
    NotFound:
      description: Error response corresponding to 404 status code
      content:
        application/json:
          schema:
            type: object
            properties:
              status:
                type: integer
                description: The HTTP status code
                example: 404
              message:
                type: string
                description: The error response code
                example: Not Found
              detail:
                type: string
                nullable: true
                description: Additional detail about the error
            required:
              - status
              - message
              - detail
  parameters:
    PoolId:
      name: poolId
      in: path
      required: true
      description: Pool ID
      schema:
        type: string
        format: uuid
    PoolTournamentId:
      name: poolTournamentId
      in: path
      required: true
      description: Pool Tournament ID
      schema:
        type: string
        format: uuid
        example: d32d905a-ed33-46a3-a093-d8f536af9a8a
    PgaTournamentId:
      name: pgaTournamentId
      in: path
      required: true
      description: The PGA Tournament ID
      schema:
        type: string
        example: '002-2023'
    PgaTournamentPlayerId:
      name: pgaTournamentPlayerId
      in: path
      required: true
      description: The PGA Tournament Player ID
      schema:
        type: string
        example: '24449-R2023006'
    PoolFilter:
      name: filter
      description: Filters a collection of Pools.
      required: false
      in: query
      style: deepObject
      explode: true
      schema:
        type: object
        additionalProperties: false
        properties:
          year:
            $ref: '#/components/schemas/NumberFieldFilter'
          type:
            $ref: '#/components/schemas/StringEqNeqFieldFilter'
          name:
            $ref: '#/components/schemas/StringFieldFilter'
    PoolTournamentPlayerFilter:
      name: filter
      description: Filters a collection of Pool Tournament Players.
      required: false
      in: query
      style: deepObject
      explode: true
      schema:
        type: object
        additionalProperties: false
        properties:
          tier:
            $ref: '#/components/schemas/NumberFieldFilter'
          pga_player_id:
            $ref: '#/components/schemas/NumberFieldFilter'
          status:
            $ref: '#/components/schemas/StringEqNeqFieldFilter'
          active:
            $ref: '#/components/schemas/BooleanFieldFilter'
    PoolUserFilter:
      name: filter
      description: Filters a collection of Pool Users.
      required: false
      in: query
      style: deepObject
      explode: true
      schema:
        type: object
        additionalProperties: false
        properties:
          user.id:
            $ref: '#/components/schemas/StringEqNeqFieldFilter'
          user.name:
            $ref: '#/components/schemas/StringFieldFilter'
          user.nickname:
            $ref: '#/components/schemas/StringFieldFilter'
          pool_score:
            $ref: '#/components/schemas/NumberFieldFilter'
    PgaPlayerFilter:
      name: filter
      description: Filters a collection of PGA Players.
      required: false
      in: query
      style: deepObject
      explode: true
      schema:
        type: object
        additionalProperties: false
        properties:
          name:
            type: string
            description: Case-insensitive partial match on player name
          active:
            type: boolean
            description: Filter by active status (defaults to true if not specified)
    PgaTournamentFilter:
      name: filter
      description: Filters a collection of PGA Tournaments.
      required: false
      in: query
      style: deepObject
      explode: true
      schema:
        type: object
        additionalProperties: false
        properties:
          name:
            $ref: '#/components/schemas/StringFieldFilter'
          date.year:
            $ref: '#/components/schemas/NumberFieldFilter'
          date.start:
            $ref: '#/components/schemas/TimestampFilterOps'
          date.end:
            $ref: '#/components/schemas/TimestampFilterOps'
          fedex_cup_event:
            $ref: '#/components/schemas/BooleanFieldFilter'
          scoring_format:
            $ref: '#/components/schemas/StringEqNeqFieldFilter'
          tournament_status:
            $ref: '#/components/schemas/StringEqNeqFieldFilter'
    LimitOffsetPaginationParam:
      name: page
      required: false
      in: query
      style: deepObject
      explode: true
      schema:
        type: object
        additionalProperties: false
        properties:
          size:
            description: The number of items included per page.
            type: integer
            example: 10
          number:
            description: The specific page number (1-based) of the collection results.
            type: integer
            example: 2
  schemas:
    StringFieldFilter:
      oneOf:
        - type: string
        - $ref: '#/components/schemas/StringFilterOps'
    StringEqNeqFieldFilter:
      oneOf:
        - type: string
        - $ref: '#/components/schemas/StringEqNeqFilterOps'
    NumberFieldFilter:
      oneOf:
        - type: number
        - $ref: '#/components/schemas/NumberFilterOps'
    BooleanFieldFilter:
      oneOf:
        - type: boolean
        - $ref: '#/components/schemas/BooleanFilterOps'
    StringFilterOps:
      type: object
      additionalProperties: false
      minProperties: 1
      properties:
        eq:
          type: string
        neq:
          type: string
        contains:
          type: string
    StringEqNeqFilterOps:
      type: object
      additionalProperties: false
      minProperties: 1
      properties:
        eq:
          type: string
        neq:
          type: string
    NumberFilterOps:
      type: object
      additionalProperties: false
      minProperties: 1
      properties:
        eq:
          type: number
        neq:
          type: number
        gt:
          type: number
        gte:
          type: number
        lt:
          type: number
        lte:
          type: number
    BooleanFilterOps:
      type: object
      additionalProperties: false
      minProperties: 1
      properties:
        eq:
          type: boolean
        neq:
          type: boolean
    TimestampFilterOps:
      type: object
      additionalProperties: false
      minProperties: 1
      properties:
        gt:
          type: string
          format: date-time
        gte:
          type: string
          format: date-time
        lt:
          type: string
          format: date-time
        lte:
          type: string
          format: date-time
    PoolTournament:
      description: Defines a pool tournament
      type: object
      additionalProperties: false
      properties:
        id:
          type: string
          format: uuid
        scores_are_official:
          type: boolean
        pga_tournament:
          $ref: '#/components/schemas/PgaTournament'
        pool:
          $ref: '#/components/schemas/Pool'
      required:
        - id
        - scores_are_official
        - pga_tournament
        - pool
    PoolTournamentPlayer:
      description: Defines a pool tournament player
      type: object
      additionalProperties: false
      properties:
        id:
          type: string
          format: uuid
        tier:
          type: number
        pga_tournament_player:
          $ref: '#/components/schemas/PgaTournamentPlayer'
      required:
        - id
        - tier
        - pga_tournament_player
    PoolTournamentField:
      description: The pool tournament player field divided into tiers.
      type: object
      additionalProperties: false
      properties:
        pool_tournament:
          $ref: '#/components/schemas/PoolTournament'
        created_at:
          type: string
          format: date-time
        player_tiers:
          type: object
          additionalProperties:
            type: array
            items:
              $ref: '#/components/schemas/PoolTournamentPlayer'
      required:
        - pool_tournament
        - created_at
        - player_tiers
    Pool:
      description: Defines a pool
      type: object
      additionalProperties: false
      properties:
        id:
          type: string
          format: uuid
        year:
          type: number
          example: 2026
        name:
          type: string
          example: '2026'
        type:
          type: string
          enum:
            - single_tournament
            - season
        settings:
          $ref: '#/components/schemas/PoolSettings'
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
      required:
        - id
        - year
        - name
        - type
        - settings
        - created_at
        - updated_at
    PoolSettings:
      description: Pool configuration settings
      type: object
      additionalProperties: false
      properties:
        scoring_format:
          type: string
          enum:
            - strokes
            - fedex_cup_points
        include_LIV:
          type: boolean
          nullable: true
      required:
        - scoring_format
    PgaTournament:
      description: Defines a PGA tournament event
      type: object
      additionalProperties: false
      properties:
        id:
          type: string
          example: '016-2023'
          description: ID in the format of "{tournamentId}-{year}"
        name:
          type: string
          example: 'Sentry Tournament of Champions'
        date:
          $ref: '#/components/schemas/TournamentDate'
        purse:
          type: number
        fedex_cup_points:
          type: number
          nullable: true
        fedex_cup_event:
          type: boolean
        official_fedex_cup_points_calculated:
          type: boolean
        scoring_format:
          type: string
          enum:
            - STROKE_PLAY
            - TEAM_STROKE
            - STABLEFORD
        tournament_status:
          type: string
          enum:
            - NOT_STARTED
            - IN_PROGRESS
            - COMPLETED
        round_status:
          type: string
          enum:
            - UPCOMING
            - GROUPINGS_OFFICIAL
            - IN_PROGRESS
            - COMPLETE
            - OFFICIAL
        current_round:
          type: number
          nullable: true
        course_name:
          type: string
        country:
          type: string
        country_code:
          type: string
        state:
          type: string
        state_code:
          type: string
        city:
          type: string
        previous_champion:
          type: object
          required: [id, name]
          properties:
            id:
              type: number
              nullable: true
            name:
              type: string
              nullable: true
        logo_url:
          type: string
          nullable: true
        course_image_url:
          type: string
          nullable: true
      required:
        - id
        - name
        - date
        - purse
        - fedex_cup_points
        - fedex_cup_event
        - official_fedex_cup_points_calculated
        - scoring_format
        - tournament_status
        - round_status
        - current_round
        - course_name
        - country
        - country_code
        - state
        - state_code
        - city
        - previous_champion
        - logo_url
        - course_image_url
    PgaPlayer:
      description: Defines a PGA player (i.e. golfer)
      type: object
      additionalProperties: false
      properties:
        id:
          type: number
          example: 46046
        name:
          type: string
          example: 'Tiger Woods'
        short_name:
          type: string
          example: 'T. Woods'
        first_name:
          type: string
          example: 'Tiger'
        last_name:
          type: string
          example: 'Woods'
        active:
          type: boolean
          example: true
        headshot_url:
          type: string
          nullable: true
          example: 'https://pga-tour-res.cloudinary.com/image/upload/c_fill,f_auto,h_256,w_256/headshots_46046.png'
        country:
          type: string
          nullable: true
          example: 'United States'
        country_flag:
          type: string
          nullable: true
          example: 'USA'
        country_flag_url:
          type: string
          nullable: true
          example: 'https://res.cloudinary.com/pgatour-prod/flags/USA.svg'
      required:
        - id
        - name
        - short_name
        - first_name
        - last_name
        - active
        - headshot_url
        - country
        - country_flag
        - country_flag_url
    PgaTournamentPlayer:
      description: Defines a PGA player participating in a PGA tournament
      type: object
      additionalProperties: false
      properties:
        id:
          type: string
          example: '24449-006-2023'
          description: 'ID in the format of {pgaPlayerId}-{pgaTournamentId}'
        active:
          type: boolean
        status:
          type: string
          enum: ['active', 'complete', 'wd', 'cut']
          example: 'active'
        is_round_complete:
          type: boolean
        current_round:
          type: number
          nullable: true
          example: 2
        current_hole:
          type: number
          example: 12
        starting_hole:
          type: number
          example: 1
        tee_time:
          type: string
          nullable: true
          example: '7:00am'
        score_total:
          type: number
          example: -3
        score_thru:
          type: number
          nullable: true
          example: 9
        current_position:
          type: string
          nullable: true
          example: 'T3'
        projected_fedex_cup_points:
          type: number
          example: 130.57
        official_fedex_cup_points:
          type: number
          nullable: true
          example: 500.0
        withdrawn:
          type: boolean
        pga_player:
          $ref: '#/components/schemas/PgaPlayer'
        pga_tournament:
          $ref: '#/components/schemas/PgaTournament'
      required:
        - id
        - active
        - status
        - is_round_complete
        - current_round
        - current_hole
        - starting_hole
        - tee_time
        - score_total
        - score_thru
        - current_position
        - withdrawn
        - pga_player
        - pga_tournament
    PgaTournamentField:
      description: The PGA Tournament player field divided into tiers.
      type: object
      additionalProperties: false
      properties:
        pga_tournament:
          $ref: '#/components/schemas/PgaTournament'
        created_at:
          type: string
          format: date-time
        player_tiers:
          type: object
          additionalProperties:
            type: array
            items:
              $ref: '#/components/schemas/TournamentFieldPlayer'
      required:
        - pga_tournament
        - created_at
        - player_tiers
    WeeklyPgaTournamentField:
      description: The PGA Tournament player field for the current week, divided into tiers.
      type: object
      additionalProperties: false
      properties:
        pga_tournament:
          $ref: '#/components/schemas/PgaTournament'
        created_at:
          type: string
          format: date-time
          nullable: true
        player_tiers:
          type: object
          nullable: true
          additionalProperties:
            type: array
            items:
              $ref: '#/components/schemas/TournamentFieldPlayer'
      required:
        - pga_tournament
        - created_at
        - player_tiers
    TournamentFieldPlayer:
      description: Defines a player entry in a tournament field tier.
      type: object
      additionalProperties: false
      properties:
        player_id:
          type: number
          example: 27644
        name:
          type: string
          example: 'Tiger Woods'
        odds:
          type: string
          example: '+3000'
      required:
        - player_id
        - name
        - odds
    PoolUser:
      description: Defines a pool user
      type: object
      additionalProperties: false
      properties:
        id:
          type: string
          format: uuid
        pool_id:
          type: string
          format: uuid
        pool_score:
          type: number
          example: 120.5
        user:
          $ref: '#/components/schemas/User'
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
      required:
        - id
        - pool_id
        - pool_score
        - user
        - created_at
        - updated_at
    PoolTournamentUser:
      description: Defines a pool tournament user
      type: object
      additionalProperties: false
      properties:
        id:
          type: string
          format: uuid
        rank:
          type: string
        score:
          type: number
          nullable: true
        fedex_cup_points:
          type: number
          nullable: true
        user:
          $ref: '#/components/schemas/User'
        picks:
          type: array
          items:
            $ref: '#/components/schemas/PoolTournamentUserPick'
      required:
        - id
        - rank
        - score
        - fedex_cup_points
        - user
        - picks
    PoolTournamentUserPick:
      description: Defines a pool tournament user pick
      type: object
      additionalProperties: false
      properties:
        tier:
          type: number
        pga_tournament_player:
          $ref: '#/components/schemas/PgaTournamentPlayer'
      required:
        - tier
        - pga_tournament_player
    User:
      description: Defines a user (i.e. contestant who competes in pools)
      type: object
      additionalProperties: false
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
          example: 'Drew K'
        nickname:
          type: string
          example: 'Jumbo'
          nullable: true
        email:
          type: string
          nullable: true
      required:
        - id
        - name
        - nickname
        - email
    TournamentDate:
      description: Defines a tournament date
      type: object
      additionalProperties: false
      properties:
        year:
          type: number
          example: 2023
        start:
          type: string
          format: date-time
        end:
          type: string
          format: date-time
        timezone:
          type: string
          example: 'America/Los_Angeles'
        display:
          type: string
        display_short:
          type: string
      required:
        - year
        - start
        - end
        - timezone
        - display
        - display_short
    RoundSummary:
      description: Per-round score summary for a PGA tournament player
      type: object
      additionalProperties: false
      properties:
        round_number:
          type: integer
          example: 1
        strokes:
          type: integer
          example: 66
        to_par:
          type: integer
          example: -5
      required:
        - round_number
        - strokes
        - to_par
    Scorecard:
      description: Hole-by-hole scorecard for a specific round
      type: object
      additionalProperties: false
      properties:
        round_number:
          type: integer
          example: 3
        strokes:
          type: integer
          example: 64
        to_par:
          type: integer
          example: -7
        holes:
          type: array
          items:
            $ref: '#/components/schemas/ScorecardHole'
      required:
        - round_number
        - strokes
        - to_par
        - holes
    ScorecardHole:
      description: Individual hole score within a scorecard
      type: object
      additionalProperties: false
      properties:
        hole_number:
          type: integer
          example: 1
        par:
          type: integer
          example: 4
        score:
          type: integer
          example: 3
        to_par:
          type: integer
          example: -1
        status:
          type: string
          enum: ['birdie', 'bogey', 'eagle', 'double_bogey', 'par', 'none']
          example: 'birdie'
        yardage:
          type: integer
          example: 432
      required:
        - hole_number
        - par
        - score
        - to_par
        - status
        - yardage
    LimitOffsetResponseMeta:
      type: object
      title: LimitOffsetResponseMeta
      additionalProperties: false
      required: [page]
      properties:
        page:
          type: object
          additionalProperties: false
          required:
            - requested_size
            - actual_size
            - number
          properties:
            requested_size:
              type: integer
              example: 100
              description: Requested page size.
            actual_size:
              type: integer
              example: 77
              description: Specifies the actual size of the page returned.
            number:
              type: integer
              example: 2
              description: Specifies the current page number (1-based index).
            total:
              type: integer
              example: 100
              description: Total amount of items.
