openapi: 3.0.0
info:
  title: PGA Pool API
  version: 1.0.0
  description: The API for PGA Pool
  contact:
    name: Drew Kimberly
    url: 'https://github.com/Drew-Kimberly/pga-pool'
servers:
  - url: 'https://api.pga-pool.drewk.dev'
    description: Production URL
  - url: 'http://localhost:3000'
    description: Local Dev URL
tags:
  - name: PGA Tournaments
  - name: PoolTournament
paths:
  /pga-tournaments:
    get:
      summary: Lists PGA Tournaments
      description: Lists PGA Tournaments
      operationId: listPgaTournaments
      parameters:
        - $ref: '#/components/parameters/LimitOffsetPaginationParam'
        - $ref: '#/components/parameters/PgaTournamentFilter'
      responses:
        '200':
          $ref: '#/components/responses/ListPgaTournamentsResponse'
      tags:
        - PGA Tournaments
  /pga-tournaments/{pgaTournamentId}/field:
    parameters:
      - schema:
          type: string
          example: '002-2023'
          description: The PGA Tournament ID
        name: pgaTournamentId
        in: path
        required: true
    get:
      summary: Fetches the player field for a given PGA Tournament
      description: Fetches the tiered player field for a given PGA Tournament
      operationId: getField
      responses:
        '200':
          $ref: '#/components/responses/PgaTournamentFieldResponse'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - PGA Tournaments
        - PoolTournament
  /pool/tournaments:
    get:
      summary: List pool tournaments
      description: Returns all pool tournaments
      operationId: list
      responses:
        '200':
          $ref: '#/components/responses/PoolTournamentsResponse'
      tags:
        - PoolTournament
  /pool/tournaments/current:
    get:
      summary: Fetches the current in-progress pool tournament
      description: Fetches the current in-progress pool tournament. Responds with 404 if no tournaments are current.
      operationId: getCurrent
      responses:
        '200':
          $ref: '#/components/responses/PoolTournamentResponse'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - PoolTournament
  /pool/tournaments/{poolTournamentId}:
    parameters:
      - schema:
          type: string
          example: d32d905a-ed33-46a3-a093-d8f536af9a8a
          format: uuid
        name: poolTournamentId
        in: path
        required: true
        description: Pool Tournament ID
    get:
      summary: Fetches a pool tournament by ID
      description: Fetches a pool tournament by ID
      operationId: get
      responses:
        '200':
          $ref: '#/components/responses/PoolTournamentResponse'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - PoolTournament
components:
  responses:
    ListPgaTournamentsResponse:
      description: Response containing paginated collection of PGA Tournaments
      content:
        application/json:
          schema:
            type: object
            additionalProperties: false
            properties:
              meta:
                $ref: '#/components/schemas/LimitOffsetResponseMeta'
              data:
                type: array
                items:
                  $ref: '#/components/schemas/PgaTournament'
            required:
              - meta
              - data
    PgaTournamentFieldResponse:
      description: Response containing the PGA Tournament field, including tiers
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/PgaTournamentField'
    PoolTournamentsResponse:
      description: Response containing a collection of pool tournaments
      content:
        application/json:
          schema:
            type: object
            additionalProperties: false
            properties:
              data:
                type: array
                items:
                  $ref: '#/components/schemas/PoolTournament'
            required:
              - data
    PoolTournamentResponse:
      description: Response containing pool tournament data
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/PoolTournament'
    NotFound:
      description: Error response corresponding to 404 status code
      content:
        application/json:
          schema:
            type: object
            properties:
              status:
                type: integer
                description: The HTTP status code
                example: 404
              message:
                type: string
                description: The error response code
                example: Not Found
              detail:
                type: string
                nullable: true
                description: Additional detail about the error
            required:
              - status
              - message
              - details
  parameters:
    PgaTournamentFilter:
      name: filter
      description: Filters a collection of PGA Tournaments.
      required: false
      in: query
      schema:
        type: object
        additionalProperties: false
        properties:
          name:
            type: string
          date.year:
            type: number
          fedex_cup_event:
            type: boolean
          scoring_format:
            type: string
          tournament_status:
            type: string
    LimitOffsetPaginationParam:
      name: page
      required: false
      in: query
      schema:
        type: object
        additionalProperties: false
        properties:
          size:
            description: The number of items included per page.
            type: integer
            example: 10
          number:
            description: The specific page number (1-based) of the collection results.
            type: integer
            example: 2
  schemas:
    PoolTournament:
      description: Defines a pool tournament
      type: object
      additionalProperties: false
      properties:
        id:
          type: string
          format: uuid
        active:
          type: boolean
          description: Whether the pool tournament is currently live
        pga_tournament:
          $ref: '#/components/schemas/PgaTournament'
        pool_users:
          type: array
          items:
            $ref: '#/components/schemas/PoolUser'
      required:
        - id
        - active
        - pga_tournament
        - pool_users
    PgaTournament:
      description: Defines a PGA tournament event
      type: object
      additionalProperties: false
      properties:
        id:
          type: string
          example: '016-2023'
          description: ID in the format of "{tournamentId}-{year}"
        name:
          type: string
          example: 'Sentry Tournament of Champions'
        date:
          $ref: '#/components/schemas/TournamentDate'
        purse:
          type: number
        fedex_cup_points:
          type: number
          nullable: true
        fedex_cup_event:
          type: boolean
        scoring_format:
          type: string
          enum:
            - STROKE_PLAY
            - TEAM_STROKE
            - STABLEFORD
        tournament_status:
          type: string
          enum:
            - NOT_STARTED
            - IN_PROGRESS
            - COMPLETED
        round_status:
          type: string
          enum:
            - UPCOMING
            - GROUPINGS_OFFICIAL
            - IN_PROGRESS
            - COMPLETE
            - OFFICIAL
        current_round:
          type: number
          nullable: true
        course_name:
          type: string
        country:
          type: string
        country_code:
          type: string
        state:
          type: string
        state_code:
          type: string
        city:
          type: string
        previous_champion:
          type: object
          required: [id, name]
          properties:
            id:
              type: number
              nullable: true
            name:
              type: string
              nullable: true
        logo_url:
          type: string
          nullable: true
        course_image_url:
          type: string
          nullable: true
      required:
        - id
        - name
        - date
        - purse
        - fedex_cup_points
        - fedex_cup_event
        - scoring_format
        - tournament_status
        - round_status
        - current_round
        - course_name
        - country
        - country_code
        - state
        - state_code
        - city
        - previous_champion
        - logo_url
        - course_image_url
    PgaPlayer:
      description: Defines a PGA player (i.e. golfer)
      type: object
      additionalProperties: false
      properties:
        id:
          type: number
          example: 46046
        name:
          type: string
          example: 'Tiger Woods'
      required:
        - id
        - name
    PgaTournamentPlayer:
      description: Defines a PGA player participating in a PGA tournament
      type: object
      additionalProperties: false
      properties:
        id:
          type: string
          example: '24449-006-2023'
          description: 'ID in the format of {pgaPlayerId}-{pgaTournamentId}'
        active:
          type: boolean
        status:
          type: string
          enum: ['active', 'wd', 'cut']
          example: 'active'
        is_round_complete:
          type: boolean
        current_round:
          type: number
          nullable: true
          example: 2
        current_hole:
          type: number
          example: 12
        starting_hole:
          type: number
          example: 1
        tee_time:
          type: string
          nullable: true
          example: '7:00am'
        score_total:
          type: number
          example: -3
        score_thru:
          type: number
          nullable: true
          example: 9
        current_position:
          type: string
          nullable: true
          example: 'T3'
        projected_fedex_cup_points:
          type: number
          example: 130.57
        withdrawn:
          type: boolean
        pga_player:
          $ref: '#/components/schemas/PgaPlayer'
        pga_tournament:
          $ref: '#/components/schemas/PgaTournament'
      required:
        - id
        - active
        - status
        - is_round_complete
        - current_round
        - current_hole
        - starting_hole
        - tee_time
        - score_total
        - score_thru
        - current_position
        - withdrawn
        - pga_player
        - pga_tournament
    PgaTournamentField:
      description: The PGA Tournament player field divided into tiers.
      type: object
      additionalProperties: false
      properties:
        pga_tournament:
          $ref: '#/components/schemas/PgaTournament'
        created_at:
          type: string
          format: date-time
        player_tiers:
          type: object
          additionalProperties:
            type: array
            items:
              type: object
              additionalProperties: false
              properties:
                player_id:
                  type: number
                  example: 27644
                name:
                  type: string
                  example: 'Tiger Woods'
                odds:
                  type: string
                  example: '+3000'
              required:
                - player_id
                - name
                - odds
      required:
        - pga_tournament
        - created_at  
        - player_tiers
    PoolUser:
      description: Defines a pool user
      type: object
      additionalProperties: false
      properties:
        id:
          type: string
          format: uuid
        score:
          type: number
          example: -21
        projected_fedex_cup_points:
          type: number
          nullable: true
          example: 730.57
        user:
          $ref: '#/components/schemas/User'
        picks:
          type: array
          items:
            $ref: '#/components/schemas/PgaTournamentPlayer'
      required:
        - id
        - score
        - user
        - picks
    User:
      description: Defines a user (i.e. contestant who competes in pools)
      type: object
      additionalProperties: false
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
          example: 'Drew K'
        nickname:
          type: string
          example: 'Jumbo'
          nullable: true
        email:
          type: string
          nullable: true
      required:
        - id
        - name
        - nickname
        - email
    TournamentDate:
      description: Defines a tournament date
      type: object
      additionalProperties: false
      properties:
        year:
          type: number
          example: 2023
        start:
          type: string
          format: date-time
        end:
          type: string
          format: date-time
        timezone:
          type: string
          example: 'America/Los_Angeles'
        display:
          type: string
        display_short:
          type: string
      required:
        - year
        - start
        - end
        - timezone
        - display
        - display_short
    LimitOffsetResponseMeta:
      type: object
      title: LimitOffsetResponseMeta
      additionalProperties: false
      required: [page]
      properties:
        page:
          type: object
          additionalProperties: false
          required:
            - requested_size
            - actual_size
            - number
          properties:
            requested_size:
              type: integer
              example: 100
              description: Requested page size.
            actual_size:
              type: integer
              example: 77
              description: Specifies the actual size of the page returned.
            number:
              type: integer
              example: 2
              description: Specifies the current page number (1-based index).
            total:
              type: integer
              example: 100
              description: Total amount of items.
