openapi: 3.0.0
info:
  title: PGA Pool API
  version: 1.0.0
  description: The API for PGA Pool
  contact:
    name: Drew Kimberly
    url: 'https://github.com/Drew-Kimberly'
servers:
  - url: 'https://api.pga-pool.drewk.dev'
    description: Production URL
  - url: 'http://localhost:3000'
    description: Local Dev URL
tags:
  - name: PgaTournament
  - name: PoolTournament
paths:
  /pga-tournaments/{pgaTournamentId}/field:
    parameters:
      - schema:
          type: string
          example: '002-2023'
          description: The PGA Tournament ID
        name: pgaTournamentId
        in: path
        required: true
    get:
      summary: Fetches the player field for a given PGA Tournament
      description: Fetches the tiered player field for a given PGA Tournament
      operationId: getField
      responses:
        '200':
          $ref: '#/components/responses/PgaTournamentFieldResponse'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - PgaTournament
        - PoolTournament
  /pool/tournaments:
    get:
      summary: List pool tournaments
      description: Returns all pool tournaments
      operationId: list
      responses:
        '200':
          $ref: '#/components/responses/PoolTournamentsResponse'
      tags:
        - PoolTournament
  /pool/tournaments/current:
    get:
      summary: Fetches the current in-progress pool tournament
      description: Fetches the current in-progress pool tournament. Responds with 404 if no tournaments are current.
      operationId: getCurrent
      responses:
        '200':
          $ref: '#/components/responses/PoolTournamentResponse'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - PoolTournament
  /pool/tournaments/{poolTournamentId}:
    parameters:
      - schema:
          type: string
          example: d32d905a-ed33-46a3-a093-d8f536af9a8a
          format: uuid
        name: poolTournamentId
        in: path
        required: true
        description: Pool Tournament ID
    get:
      summary: Fetches a pool tournament by ID
      description: Fetches a pool tournament by ID
      operationId: get
      responses:
        '200':
          $ref: '#/components/responses/PoolTournamentResponse'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - PoolTournament
components:
  responses:
    PgaTournamentFieldResponse:
      description: Response containing the PGA Tournament field, including tiers
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/PgaTournamentField'
    PoolTournamentsResponse:
      description: Response containing a collection of pool tournaments
      content:
        application/json:
          schema:
            type: object
            additionalProperties: false
            properties:
              data:
                type: array
                items:
                  $ref: '#/components/schemas/PoolTournament'
            required:
              - data
    PoolTournamentResponse:
      description: Response containing pool tournament data
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/PoolTournament'
    NotFound:
      description: Error response corresponding to 404 status code
      content:
        application/json:
          schema:
            type: object
            properties:
              status:
                type: integer
                description: The HTTP status code
                example: 404
              message:
                type: string
                description: The error response code
                example: Not Found
              detail:
                type: string
                nullable: true
                description: Additional detail about the error
            required:
              - status
              - message
              - details
  schemas:
    PoolTournament:
      description: Defines a pool tournament
      type: object
      additionalProperties: false
      properties:
        id:
          type: string
          format: uuid
        active:
          type: boolean
          description: Whether the pool tournament is currently live
        pga_tournament:
          $ref: '#/components/schemas/PgaTournament'
        pool_users:
          type: array
          items:
            $ref: '#/components/schemas/PoolUser'
      required:
        - id
        - active
        - pga_tournament
        - pool_users
    PgaTournament:
      description: Defines a PGA tournament event
      type: object
      additionalProperties: false
      properties:
        id:
          type: string
          example: '016-2023'
          description: ID in the format of "{tournamentId}-{year}"
        name:
          type: string
          example: 'Sentry Tournament of Champions'
        date:
          $ref: '#/components/schemas/TournamentDate'
      required:
        - id
        - name
        - date
    PgaPlayer:
      description: Defines a PGA player (i.e. golfer)
      type: object
      additionalProperties: false
      properties:
        id:
          type: number
          example: 46046
        name:
          type: string
          example: 'Tiger Woods'
      required:
        - id
        - name
    PgaTournamentPlayer:
      description: Defines a PGA player participating in a PGA tournament
      type: object
      additionalProperties: false
      properties:
        id:
          type: string
          example: '24449-006-2023'
          description: 'ID in the format of {pgaPlayerId}-{pgaTournamentId}'
        active:
          type: boolean
        status:
          type: string
          enum: ['active', 'wd', 'cut']
          example: 'active'
        is_round_complete:
          type: boolean
        current_round:
          type: number
          nullable: true
          example: 2
        current_hole:
          type: number
          example: 12
        starting_hole:
          type: number
          example: 1
        tee_time:
          type: string
          nullable: true
          example: '7:00am'
        score_total:
          type: number
          example: -3
        score_thru:
          type: number
          nullable: true
          example: 9
        current_position:
          type: string
          nullable: true
          example: 'T3'
        withdrawn:
          type: boolean
        pga_player:
          $ref: '#/components/schemas/PgaPlayer'
        pga_tournament:
          $ref: '#/components/schemas/PgaTournament'
      required:
        - id
        - active
        - status
        - is_round_complete
        - current_round
        - current_hole
        - starting_hole
        - tee_time
        - score_total
        - score_thru
        - current_position
        - withdrawn
        - pga_player
        - pga_tournament
    PgaTournamentField:
      description: The PGA Tournament player field divided into tiers.
      type: object
      additionalProperties: false
      properties:
        pga_tournament:
          $ref: '#/components/schemas/PgaTournament'
        created_at:
          type: string
          format: date-time
        player_tiers:
          type: object
          additionalProperties:
            type: array
            items:
              type: object
              additionalProperties: false
              properties:
                player_id:
                  type: number
                  example: 27644
                name:
                  type: string
                  example: 'Tiger Woods'
                odds:
                  type: string
                  example: '+3000'
              required:
                - player_id
                - name
                - odds
      required:
        - pga_tournament
        - created_at  
        - player_tiers
    PoolUser:
      description: Defines a pool user
      type: object
      additionalProperties: false
      properties:
        id:
          type: string
          format: uuid
        score:
          type: number
          example: -21
        user:
          $ref: '#/components/schemas/User'
        picks:
          type: array
          items:
            $ref: '#/components/schemas/PgaTournamentPlayer'
      required:
        - id
        - score
        - user
        - picks
    User:
      description: Defines a user (i.e. contestant who competes in pools)
      type: object
      additionalProperties: false
      properties:
        id:
          type: string
          example: drewk
        name:
          type: string
          example: 'Drew K'
        nickname:
          type: string
          example: 'Jumbo'
      required:
        - id
        - name
        - nickname
    TournamentDate:
      description: Defines a tournament date
      type: object
      additionalProperties: false
      properties:
        year:
          type: number
          example: 2023
        start:
          type: string
          format: date
        end:
          type: string
          format: date
        timezone:
          type: string
          example: 'America/Los_Angeles'
      required:
        - year
        - start
        - end
        - timezone
